<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask登录系统{% endblock %}</title>
    <link href="/static/css/bootstrap-5.3.8.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome-7.0.1.all.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/bootstrap-5.3.8.bundle.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>